body {
    background-color: #f4f6f8;
    padding: 10px 200px;
}

.search {
    background-color: white;
    border: solid 1px grey;
    padding: 20px;
    margin: auto;
}

.search label {
    font-weight: bold;
    margin-bottom: 5px;
}

.search input{
    width: 99%;
    padding: 3px;
}

.search input:focus {
    outline: none;
}

.loading-spinner {
    text-align: center;
}

.voting-section {
    display: flex;
}

.movie-details {
    display: flex;
}

.movie-details img {
    width: 10rem;
}