* {
    box-sizing: border-box;
}

body {
    background-color: #202124;
    padding: 50px 60px;
    color: white;
}

h1, h4 {
    text-align: center;
}

a {
    color: #95bf46;
    font-weight: bold;
}

a:hover {
    color: #5e8e3e;
}

.search-icon {
    position: absolute;
    filter: invert(1);
    margin: 5px auto auto 5px
}

.movie-title {
    font-size: 1vw;
    font-weight: bold;
}

.container {
    position: relative;
    padding: 0;
    margin: 0;
}

.overlay {
    position: absolute;
    left: 0;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.75); 
    color: #f1f1f1;
    height: 100%;
    width: 100%;
    transition: .5s ease;
    opacity: 0;
    color: white;
    font-size: 20px;
    padding: 50px 5px;
    text-align: center;
}

.container:hover .overlay {
    opacity: 1;
}

.page-title {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.page-title h1 {
    padding-top: 10px;
    margin-right: auto;
}

.logo {
    width: 60px;
    height: auto;
    margin: auto 10px auto auto;
}

.search {
    text-align: center;
}

.search input{
    min-width: 60%;
    padding: 3px 30px;
    border-radius: 0.25rem;
    margin-bottom: 20px;
}

.search input:focus {
    outline: none;
}

.loading-spinner {
    text-align: center;
}

.results {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.movie-details {
    display: flex;
    width: 12rem;
    margin-right: 20px;
    margin-bottom: 20px;
}

.movie-details img {
    width: 100%;
    height: auto;
}

.nominations {
    display: flex;
    flex-wrap: wrap;
}

.nominate-btn, .remove-btn {
    position: absolute;
    bottom: 20px;
    left: 22px;
    border: none;
    border-radius: 0.2rem;
    padding: 5px;
    width: 150px;
    color: white;
    font-weight: bold;
}

.nominate-btn {
    background-color: #95bf46;
}

.remove-btn {
    background-color: red;
}

.nominate-btn:hover, .nominate-btn:disabled {
    background-color: #5e8e3e;
}

.nominate-btn:disabled {
    opacity: 50%;
    transition: 0.15s ease-out;
}

.remove-btn:hover {
    background-color: grey;
    color: black;
}

.banner {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    background-color: #202124;
    padding: 10px;
    z-index: 999;
}

.banner p {
    text-align: center;
    margin-bottom: 0;
}

.banner-flash {
    animation: blinker 1.5s linear;
}
  
@keyframes blinker {
    50% {
        background-color: #95bf46;
    }
}


@media only screen and (max-width: 520px) {
    .voting-section {
        flex-wrap: wrap;
        text-align: center;
    }

    .movie-details {
        margin: 10px auto;
        width: 30vw;
    }

    .movie-title {
        font-size: 2vw;
        margin-bottom: 0px;
    }

    .nomination-wrapper {
        margin: auto;
    }

    .nominate-btn, .remove-btn {
        bottom: 10px;
        left: 13%;
        width: 75%;
        font-size: 4vw;
    }

    .overlay {
        padding-top: 20px;
    }
}

@media only screen and (max-width: 435px) {
    .page-title h1 {
        font-size: 8vw;
    }

    .logo {
        width: 10vw;
    }
    
}